# Mood's Median Test

# Objective ::Is the median of Pooh,Piglet and  Tigger are statistically equal
# it has equal meadian or not

Use to compare 3 population with external std. dev. 
Use when data is  not normally distrubuted

In [1]:
#Step 1: Import Necessary Libraries
import pandas as pd 
import numpy as numpy
import scipy 
from scipy import stats

In [8]:
# Step 2. Load Dataset
animals=pd.read_csv("animals.csv")

In [9]:
animals

   Pooh  Piglet  Tigger
0     3       2       4
1     5       4       4
2     4       2       4
3     4       2       4
4     4       1       5
5     4       2       3
6     4       3       5
7     4       2       4
8     5       2       4
9     5       3       3

In [14]:
# Step 3.Check Normality of Dataabase 
print("Pooh Normality :",stats.shapiro(animals.Pooh))
print("Piglet Normality :",stats.shapiro(animals.Piglet))
print("Tigger Normality :",stats.shapiro(animals.Tigger))
#Since all p value are less than 0.05 hence  reject null hypothesis
#data is not normal hence Mood's Test

Pooh Normality : ShapiroResult(statistic=0.7940640449523926, pvalue=0.012278728187084198)
Piglet Normality : ShapiroResult(statistic=0.8406217694282532, pvalue=0.04488762468099594)
Tigger Normality : ShapiroResult(statistic=0.8148399591445923, pvalue=0.021947985514998436)

In [15]:
#Step 4. Mood's Median Test
median_test_result=stats.median_test(animals.Pooh,animals.Piglet,animals.Tigger)
print("Moods Median Test :",median_test_result)
#Result :pvalue:0.186

Moods Median Test : MedianTestResult(statistic=3.3599999999999994, pvalue=0.18637397603940997, median=4.0, table=array([[ 3,  0,  2],
       [ 7, 10,  8]], dtype=int64))

#Null Hypothesis (H0): The medians of Pooh, Piglet, and Tigger are equal.
# Alternative Hypothesis (Ha): At least one group's median is different.


# Conclusion
There is no sufficient evidence to conclude that the medians of Pooh, Piglet, and Tigger are different.
#Null Hypothesis (H0): The medians of Pooh, Piglet, and Tigger are equal