# Paired T Test

# Objective ::check whether there is a diff bet transaction time of supplier
Use to compare2 population with external std. dev. 
Use when data is normally distrubuted

In [ ]:
Use when

In [30]:
#Step 1: Import Necessary Libraries
import pandas as pd 
import numpy as numpy

In [34]:
#Step 2: Load the Data
sup=pd.read_csv("pairedT.csv")

In [4]:
sup

     SupplierA  SupplierB
0         6.15       7.15
1         6.22       7.22
2         6.76       7.76
3         4.29       5.29
4         7.08       8.08
..         ...        ...
115       5.85       6.85
116       5.04       6.04
117       5.68       6.68
118       4.77       5.77
119       3.57       4.57

[120 rows x 2 columns]

In [7]:
sup.shape

(120, 2)

In [8]:
sup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SupplierA  120 non-null    float64
 1   SupplierB  120 non-null    float64
dtypes: float64(2)
memory usage: 2.0 KB

In [9]:
sup.describe()

        SupplierA   SupplierB
count  120.000000  120.000000
mean     5.713917    6.713917
std      1.349004    1.349004
min      2.330000    3.330000
25%      4.725000    5.725000
50%      5.645000    6.645000
75%      6.625000    7.625000
max      9.010000   10.010000

In [10]:
sup.corr()

           SupplierA  SupplierB
SupplierA        1.0        1.0
SupplierB        1.0        1.0

In [31]:
#Step 3: Check Normality of Data

# Normality test 
import scipy 
from scipy import stats
print("Supplier A Shapiro Test:",stats.shapiro(sup.SupplierA))
# Here p value is 0.896 > 0.05 which :accept H0 , means data is normal

Supplier A Shapiro Test: ShapiroResult(statistic=0.9940786957740784, pvalue=0.8961992859840393)

In [15]:
print("Supplier B Shapiro Test:",stats.shapiro(sup.SupplierB))
# Here also p value is 0.896 > 0.05 which :accept H0 , means data is normal

Supplier B Shapiro Test: ShapiroResult(statistic=0.9940786957740784, pvalue=0.8961992859840393)

In [32]:
# Step 4: Conduct Paired T Test
# paired T test
t_test,p_val=stats.ttest_rel(sup["SupplierA"],sup["SupplierB"])

C:\Users\ashwi\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:502: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [33]:
print("Paired T test result",t_test,"p value",p_val)
#result::p=0.0

Paired T test result -4.996833558918069e+16 p value 0.0

#Step 5: Interpret the Results

# Conclusion
# H0:: no significant diff in transaction times between supplier A & B
# H1:: diff exists
# p value is less than 0.05 so it will reject null hypothesis
# data is not normal
# conclusion ::there is diff in transaction time  of A & B