In [19]:
# EDA-Exploratory Data Analysis
# Data Preprocessing--->> It is the process of detecting and correcting (removing) corrupt or inaccurate records from a dataset.
    # It refers to the cleaning, transforming, and integrating of data in order to make it ready for analysis. The goal of data preprocessing 
    # is to improve the quality of the data and to make it more suitable for the specific data mining task.
import pandas as pd
# Here we convert the data types of an columns

In [3]:
#importing Dataset
df=pd.read_csv("ethnic diversity.csv")

In [4]:
df.head()

,Employee_Name,EmpID,Position,State,Zip,Sex,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,Black or African American
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170,F,Married,US Citizen,Terminated for Cause,Admin Offices,47822.00,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White

In [5]:
df.dtypes

Employee_Name        object
EmpID                 int64
Position             object
State                object
Zip                   int64
Sex                  object
MaritalDesc          object
CitizenDesc          object
EmploymentStatus     object
Department           object
Salaries            float64
age                   int64
Race                 object
dtype: object

In [6]:
len(df)

310

In [14]:
# Salaries data typ is float let us convert it into int
# df1=df.salaries.astype(int)
df.Salaries=df.Salaries.astype(int)
df.dtypes

Employee_Name       object
EmpID                int64
Position            object
State               object
Zip                  int64
Sex                 object
MaritalDesc         object
CitizenDesc         object
EmploymentStatus    object
Department          object
Salaries             int32
age                  int64
Race                object
dtype: object

In [17]:
#Now the datatype has converted into int of salaries
# similarly age data type must be float
df.age=df.age.astype(float)
df.dtypes

Employee_Name        object
EmpID                 int64
Position             object
State                object
Zip                   int64
Sex                  object
MaritalDesc          object
CitizenDesc          object
EmploymentStatus     object
Department           object
Salaries              int32
age                 float64
Race                 object
dtype: object